@import url('https://fonts.googleapis.com/css2?family=Gantari&family=Raleway&display=swap');

:root{
    --verde: #809A6F; /*rgb(128, 154, 111)*/
    --rojo: rgb(162, 91, 91); /*rgb(162, 91, 91)*/
    --beige: rgb(204, 156, 117); /*rgb(204, 156, 117)*/
    --gris: rgb(213, 216, 181); /*rgb(213, 216, 181)*/
    --gris-bg: rgb(48, 56, 65);
    --white: rgb(240, 240, 240);
    --white2: #F5F5F5;
    --amarillo: rgb(255, 233, 129); /*rgb(255, 233, 129)*/
    --gradiente-negro: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    --azul: #6E85B7;
    --azul2: #EAF2FD;
    --azul3: #2A7AE4;
    --negro: #181719;
}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: 'Raleway', 'Gantari', Arial, Helvetica, sans-serif;
}

*, *:before, *:after{
    outline: 0;
    box-sizing: inherit;
}

body{
    min-height: 100%;
    display: grid;
    grid-template: 
    "nav" 60px
    "main" 1fr
    "footer" 100px;
    color: var(--white);
    line-height: 22px;
}

/*A los links se le quitan el subrayado*/
a {
    text-decoration: none;
    color: inherit;
} 

#footer{
    grid-area: footer;
    background-color: var(--rojo);
}

.container{
    padding: 2rem 1rem;
}

.titulos{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.parrafos{
    font-size: 1rem;
    margin-bottom: 12px;
}