#main{
    grid-area: main;
    background-image: var(--white2);    
}

.titulos{
    font-size: 1.4rem;
}

.cards{
    transition: transform 0.3s ease-in-out;
}

.cards:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

/* .container:not(first-child){ */
.container{
    padding-top: 80px;
}