.main__banner{
    /* height: calc(100vh - 60px); */
    height: auto;
    background-image: var(--gradiente-negro);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main__banner_titulo{
    grid-area: titulo;
}

.main__banner_parrafo{
    grid-area: parrafo;
}

.main__banner_redes{
    grid-area: redes;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.1rem;
    margin: auto 0;
}

.main__banner_redes-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: auto;
}

.main__banner_redes-link > p {    
    font-size: .6rem;
    text-align: center;
}

.main__banner_foto{
    grid-area: foto;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__banner_foto-container{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main__banner_foto-container > img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

/* Diseño para tabletas y laptops    and (max-width: 1024px) */
@media screen and (min-width: 600px)  { 
    .main__banner{
        height: auto;
        display: grid;
        grid-template: 
            "titulo foto" auto
            "parrafo foto" auto
            "redes redes" auto / 1fr .25fr;
    }
    
    .main__banner_redes{
        justify-content:flex-end;
        font-size: 1.6rem;
        margin-top: .5rem;
    }

    .main__banner_redes > a:not(last-child){
        margin-left: 1.5rem;
    }
    
    .main__banner_redes-link > p {    
        font-size: .7rem;
    }
    
    .main__banner_foto {
        align-items: flex-start;
    }
    
    .main__banner_foto-container{
        width: 180px;
        height: 180px;
    }
}

/* Diseño para pc, laptops */
@media screen and (min-width: 1024px){
    .main__banner{
        height: calc(100vh - 60px);
        gap: 0;
    }    

    .main__banner_titulo{
        display: flex;
        align-items: flex-end;
    }
    
    .main__banner_redes{
        justify-content: flex-start;
    }

    .main__banner_redes > a:not(last-child){
        margin-right: 1.5rem;
    }
    
    .main__banner_redes-link > p {    
        font-size: .7rem;
    }
    
    .main__banner_foto {
        align-items: flex-start;
    }
    
    .main__banner_foto-container{
        width: 200px;
        height: 200px;
    }
}