.main__skills_titulo, .main__hobbies_titulo{
    color: var(--negro);
    text-align: center;
}

.main__skills_card-container, .main__hobbies_card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
    justify-content: center;
}

.main__skills__card, .main__hobbies__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    height: 120px;
    color: var(--negro);
}

.icono{    
    width: 100%;
    height: 80px;
    color: var(--azul);
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.main__skills__card-nombre, .main__hobbies__card-nombre{
    background-color: var(--azul);
    color: var(--white);
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

/* Diseño para tabletas y laptops   and (max-width: 1024px) */
@media screen and (min-width: 600px) {
    
    .main__skills_card-container, .main__hobbies_card-container{
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 1.7rem;
        padding: 1.2rem;
    }
    
    .main__skills__card, .main__hobbies__card {
        height: 160px;
    }
    
    .icono{    
        width: 100%;
        height: 100px;
        font-size: 70px;
        padding-top: 25px;
    }
    
    .main__skills__card-nombre, .main__hobbies__card-nombre {
        height: 50px;
        line-height: 50px;
        font-size: 1.1rem;
    }

}