.main__formacion{
    background-color: var(--azul);
}

.main__formacion_card-container{ /*Contenedor de las cards de Formación*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));  */
    gap: 1.2rem;
    padding: 1.2rem;
    justify-content: center;
}

.formacion__card__container{ /*Cada Card*/
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px 2px rgba(251, 251, 251, 0.5);    
}

.formacion__card___imgContainer{ /*Contenedor para las IMG*/
    width: 100%;
    height: 120px;
}

.formacion__card-img{    
    height: 120px;
    width: 100%;
    object-fit:cover;    
}

.formacion__card__container:first-child  .formacion__card-img{
    object-position: top;
}

.formacion__card___datosContainer{
    padding: 1rem 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.formacion__card-nombre{
    font-weight: 600;
}

/* Diseño para tabletas y laptops   and (max-width: 1024px) */
@media screen and (min-width: 600px) {
    
    .main__formacion_card-container{ /*Contenedor de las cards de Formación*/
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1.5rem;
        padding: 1.4rem;
    }
    
    .formacion__card__container{ /*Cada Card*/
        border-radius: 10px;
    }
    
    .formacion__card___imgContainer{ /*Contenedor para las IMG*/
        height: 220px;
    }
    
    .formacion__card-img{    
        height: 220px;
    }
    
    .formacion__card__container:first-child  .formacion__card-img{
        object-position: top;
    }
    
    .formacion__card___datosContainer{
        padding: 1.4rem 0;
        height: auto;
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    
    .formacion__card-nombre{
        font-weight: 600;
        font-size: 1.5rem;
    }
}